<!DOCTYPE html>
<html>
    <head>
        <title>
        	{% if title is defined %}
        		{{ title }}
        	{% else %}
        		{% block title %} Marc Schumann stellt sich vor ... {% endblock %}
        	{% endif %}
        </title>
        <link rel="stylesheet" href="{{ asset('bundles/ms/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/ms/css/bootstrap-responsive.min.css') }}" />
        
        <script type="text/javascript" src="{{ asset('bundles/ms/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ms/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
    	<div class="container-fluid">
    		{% block content_header %}
    			
    		{% endblock %}
    		
    		{% block content_header_navi %}
    			
    		{% endblock %}
		        
	        <div class="row-fluid">
	        	{% block content %}
	        		Das ist der Defaulttext, wenn keine anderes Template geladen wird...
	        	{% endblock %}
	        </div>
		</div>
    </body>
</html>